body {
  background-color: #d4caa3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.productList {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 20px;
  border: solid black 1px;
  padding: 20px;
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.btn1 {
  height: 30px;
  cursor: pointer;
  margin: 8px;
}

.header {
  background-image: url("/public/images/header.jpg");
  background-size: 100% auto;
  height: 175px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cart-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
}

.cart-preview {
  position: absolute;
  top: 100%; /* Position the dropdown below the cart icon */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000; /* Ensure the dropdown is above other content */
  display: none; /* Initially hide the dropdown */
}

.cart-icon:hover .cart-preview {
  display: block; /* Show the dropdown on hover */
}
